#slideshow {
  position: relative;
  background-color: black;
  width: 100%;
  height: auto;
}

#slideshow > div {
  position: absolute;
  background-color: black;
  color: black;
  width: 100%;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

 @import url("https://fonts.googleapis.com/css?family=Playball");
 @import url("https://fonts.googleapis.com/css?family=Pinyon+Script");
 @import url("https://fonts.googleapis.com/css?family=Open+Sans");
 @import url("https://fonts.googleapis.com/css?family=Roboto:400,100,700");

 /******* Font style *****/
 /* harry_p */
 @font-face {
     font-family: 'harry_p';
     src: url('../fonts/harryp/harryp__-webfont.eot');
     src: url('../fonts/harryp/harryp__-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/harryp/harryp__-webfont.woff2') format('woff2'),
          url('../fonts/harryp/harryp__-webfont.woff') format('woff'),
          url('../fonts/harryp/harryp__-webfont.ttf') format('truetype'),
          url('../fonts/harryp/harryp__-webfont.svg#harry_pregular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'skyfall'; /*a name to be used later*/
     src: url('../fonts/skyfall/SkyFall Done.ttf'); /*URL to font*/
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'Felipa'; /*a name to be used later*/
     src: url('../fonts/Felipa-Regular.ttf'); /*URL to font*/

 }
 @font-face {
     font-family: 'another_danger'; /*a name to be used later*/
     src: url('../fonts/another_danger.otf'); /*URL to font*/
     font-weight: normal;
     font-style: normal;
 }

 /* Oswald_stencil */
 @font-face {
     font-family: 'oswald_stencil';
     src: url('../fonts/oswald_stencil/oswald_stencil.eot');
     src: url('../fonts/oswald_stencil/oswald_stencil.eot') format('embedded-opentype'),
          url('../fonts/oswald_stencil/oswald_stencil.woff2') format('woff2'),
          url('../fonts/oswald_stencil/oswald_stencil.woff') format('woff'),
          url('../fonts/oswald_stencil/oswald_stencil.ttf') format('truetype'),
          url('../fonts/oswald_stencil/oswald_stencil.svg#oswald_stencil') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 /******* Text *******/

 /* Does not include header */
 /*default*/
 * {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
 }
 h1 {
   font-family: Futura, Arial, sans-serif;
 }

 h2 {
   font-family: 'Felipa', cursive;
   color: #FFFFFF;
   letter-spacing: 10px;
   font-size: 68px;
   margin-left: 20px;
 }



 a, a:hover, a:focus {
   text-decoration: none;
   color: #eeeeee;
 }
 html, body{
   margin: 0px ;
   background :#F5F5F5;
   height: 100%;
 }

 /**
  * Section
  */
 .section {
   width: 100%;
   height: 400px;
   text-align: center;
   margin-top: 125px;
 }

 .section .content {
   width: 100%;
   text-align: center;
   display: inline-block;
 }


 /******* HOME *******/
 .home-content {
   width: 100%;
   height: 769px;
   margin-top: 0px;
   text-align: center;
 }

 .home-content .cover-photo {
   width:100%;
   height:879px;
   background-size: cover;
   position: absolute;
   left: 0;
   right: 0;

   /*-webkit-filter: blur(3px);
   -moz-filter: blur(3px);
   -o-filter: blur(3px);
   -ms-filter: blur(3px);
   filter: blur(3px);*/
 }
 .home-content .front-title-wrapper {
   width: 890px;
   text-align: center;
   display: inline-block;
   padding: 25px;
   border-radius: 5px;
   /* Center */
   display: inline-block;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
           transform: translateY(-50%);
   /* Boxing */
   background: -webkit-linear-gradient(top, rgba(237,243,249,1) 0%, rgba(87,123,156,0.8) 100%);
   background: linear-gradient(to bottom, rgba(237,243,249,1) 0%, rgba(87,123,156,0.8) 100%);
 }

 .home-content .front-title {
   font-family: 'oswald_stencil', sans-serif;
   font-size: 92px;
   color: #3A3737;
 }
 .home-content .front-msg {
   font-size: 20px;
   color: #1F465D;
   margin-bottom: 20px;
 }
 .home-content .front-button {
   padding: 5px;
   width: 200px;
   font-size: 18px;
   line-height: 55px;
   padding: 0px;
   display: inline-block;
   text-align :center;
   color: #FFF3F5;
   border-radius: 10px;
   background: rgba(14,52,71,1);
   cursor: pointer;
   -webkit-transition: background ease 0.8s;
   transition: background ease 0.8s;
 }
 .home-content .front-button:hover {
   background: rgb(57, 105, 141);
 }
 /******* INFO *******/
 .section-content {
   width: 100%;
   height: 950px;
   text-align: center;
 }

 .section-content.info {
   background-color: #11111;
   background-image: url("../images/darkwall.jpg");
   height: 600px;
 }

 .section-content.menu {
   background-image: url("../images/darkForest.jpg");
   height: auto;

   position:relative;
 }

 .section-content .section-container {

   /* Offset */
   padding: 30px;
   /* Center Vertically */
   display: inline-block;
   position: relative;

   /* Border Shadow */
   border-radius: 10px;
 }
 .section-content .section-container.info {
   width: 960px;
   height: 100%;

   /* background */

   /* Transition */

 }
 .section-content.animate .section-container.info {

 }

 .section-content .section-container.menu {
   width: 950px;
   height: 100%;

   /* background */

   /* border */

 }
 /* Headers */
 .section-content .section-container span {
   opacity: 0;
   transition: opacity 1300ms;
   font-size: 82px;
   margin: 0px;
 }
 .section-content .section-container span:nth-child(1)  { transition-delay:  100ms }
 .section-content .section-container span:nth-child(2)  { transition-delay:  850ms }
 .section-content .section-container span:nth-child(3)  { transition-delay:  450ms }
 .section-content .section-container span:nth-child(4)  { transition-delay:  200ms }
 .section-content .section-container span:nth-child(5)  { transition-delay:  650ms }
 .section-content .section-container span:nth-child(6)  { transition-delay:  750ms }
 .section-content .section-container span:nth-child(7)  { transition-delay:  250ms }
 .section-content .section-container span:nth-child(8)  { transition-delay:  700ms }
 .section-content .section-container span:nth-child(9)  { transition-delay:  350ms }

 .section-content.animate .section-container span {
   opacity: 1;
 }

 /* Content */
 .section-content .section-container .content-wrapper {
   width: 100%;
   margin-top: 30px;
   text-align: center;
 }

 .section-content .section-container .content {
   width: 80%;
   font-size: 38px;
   margin-top: 10px;
   text-align: left;
   display: inline-block;
 }
 .section-content .section-container.menu .content {
   text-align: center;
 }
 .section-content.animate .section-container .content{
   opacity: 1;
 }

 .section-content .section-container .divider {
   opacity: 0.9;
   width: 100%;
 }
 /* Info */
 .section-content .section-container.info .content .title {
   width: 30%;
   font-family: 'Felipa', cursive;
   color: #FFFFFF;
   font-size: inherit;
   display: inline-block;
   vertical-align: top;
 }
 .section-content .section-container.info .content .data {
   width: 70%;
   display: inline-block;
   color: #FFFFFF;
   font-family: 'Felipa', cursive;
   font-size: inherit;
 }
 /* Menu */
 .section-content .section-container.menu .title {
   width: 100%;
   font-family: 'Felipa', cursive;
   color: #FFF;
   font-size: 38px;
 }
 .section-content .section-container.menu .data {
   width: 100%;
   font-family: 'Allura', cursive;
   color: #FFF;
   font-size: 32px;
 }
 .section-content .section-container.menu .subtitle {
   width: 100%;
   font-family: 'Allura', cursive;
   font-size: 22px;
   margin-bottom: 15px;
 }
 .dine-table {

 }
 /******* Login ******/



 /****** Utilities *****/

 .float-right {
   float: right;
 }

 .long {
   width: 100% !important;
 }
 .medium {
   width: 85% !important;
 }
 .full{
   margin-left: 0px !important;

 }

 .auto-height {
   height:auto !important;
 }

 .fixed {
   position: fixed !important;
 }

 .showing {
   max-height: 500px !important;
   opacity: 1 !important;
 }

 .hidding {
   margin: 0 !important;
   max-height: 0 !important;
   opacity: 0 !important;
   padding: 0 !important;
 }

 .visible {
   visibility: visible !important;
   opacity: 1 !important;
   z-index: 1 !important;
 }

 .invisible {
   display: none !important;
 }

 .not-showing {
   visibility: hidden !important;
 }

 .no-overflow {
   width: 100%;
   overflow: hidden;
 }
 .no-x-overflow {
   overflow-x:hidden;
 }
 .show-block {
   display: block !important;
 }

 .faded-divider {
   display:block;
   border:none;
   color:white;
   height:1px;
   background:black;
   background: -webkit-gradient(radial, 51% 50%, 0, 50% 50%, 350, from(#3B4148), to(#FFFFFF));
 }

 .no-payment{
   position: absolute;
   top:50%;
   text-align: center;
   width: 100vw;
 }

 .radio-drinking{

 }

 .radio-non-drinking{

 }
 .price-class{
     float: right;
 }
