<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Dashboard</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            <i class="icon-coffee green"></i>
                            Welcome, {{user.displayName}}
                        </h4>
                        <div class="space-16"></div>
                        <form name="profileForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="ticketNum">Ticket Number</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        {{user.ticketNum}}
                                    </span>
                                    <a ng-href="#passwordChange">Change Password</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="user.email" required focus/>
                                        <span ng-show="user.email.$error.email" class="help-inline">Email is not valid</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="firstName">First Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="user.firstName" required/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="lastName">Last Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="user.lastName" required />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="displayName">Villain Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Villain Name" name="displayName" ng-model="user.displayName" required/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="year">Year</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <!-- TODO: Change to select -->
                                        <input type="text" class="form-control" name="year" ng-model="user.year" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="food">Food</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <!-- TODO: Change to radio buttton -->
                                        <input type="text" class="form-control" name="food" ng-model="user.food" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="drinkingAge">Are you of legal drinking age? </label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <!-- TODO: Change to radio buttton -->
                                        <input type="text" class="form-control" name="drinkingAge" ng-model="user.drinkingAge" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="allergies">Allergies</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <!-- TODO: Change to radio buttton -->
                                        <input type="text" class="form-control" name="allergies" ng-model="user.allergies" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="departBus">Depart Bus</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <!-- TODO: Change to select -->
                                        <input type="text" class="form-control" name="departBus" ng-model="user.departBus" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="returnBus">Return Bus</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <!-- TODO: Change to select -->
                                        <input type="text" class="form-control" name="returnBus" ng-model="user.returnBus" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="profileUpdate(user)" data-ng-disabled="profileForm.$invalid">
                                        Update
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->