<div class="no-overflow">
  <a id="banner"></a>
    <section id="home-section" class="home-content">
        <div class="slideshow">
           <div>
             <img src="images/ECEvilBowser.jpg" style= "width: 100%">
           </div>
           <div>
             <img src="images/ECEvilVader.jpg" style= "width: 100%;">
           </div>
           <div>
             <img src="images/ECEvilGlaDOS.jpg" style= "width: 100%;">
           </div>
           <div>
             <img src="images/ECEvilVoldemort.jpg" style= "width: 100%;">
           </div>
        </div>
        <div class="front-title-wrapper">
      </div>
        <script>
          $(".slideshow > div:gt(0)").hide();
          setInterval(function() {
            $('.slideshow > div:first')
            .fadeOut(1000)
            .next()
            .fadeIn(1000)
            .end()
            .appendTo('.slideshow');
          }, 5000);
        </script>
    </section>
    <a id="about"></a>
      <section id="info-section" class="section-content info">
      <div class="section-container info">
        <h2>
          Event Info
        </h2>
        <div class="content-wrapper">
          <div class="content">
            <div class="title">What:</div><div class="data">ECE Dinner Dance</div>
          </div>
          <div class="content">
            <div class="title">Where:</div><div class="data">The Eglinton Grand<br>400 Eglinton Ave. W,<br>Toronto, Ontario </div>
          </div>
          <div class="content">
            <div class="title">When:</div><div class="data">Saturday February 17, 2017 <br> 6 pm - 1 am</div>
          </div>
        </div>
      </div>
    </section>
    <a id="menu"></a>
    <section id="menu-section" class="section-content menu">
      <div class="section-container menu">
        <h2>
          Menu
        </h2>
        <div class="content">
          <div class="title"> APPETIZER </div>
          <div class="data"> Penne Pasta with Tomato Basil Sauce</div>
        </div>
        <div class="content">
          <div class="title"> ENTREE </div>

          <div class="data"> Chicken Forestiere</div>
        </div>
        <div class="content">
          <div class="title"> DESSERT </div>
          <div class="data"> Chocolate Wedge Cake </div>
        </div>
      </div>
    </section>
    <a id="tickets"></a>
    <section id="ticket-section" class="section-content ticket">
      <div class="section-container ticket">
        <h2>
          JOIN US!
        </h2>
        <div class="content-wrapper">
          <div class="content">
            <div class="message">Ticket sales start Wednesday, January 18, 2017 </div>
          </div>
          <div class="content">
            <div class="title">Where:</div><div class="data">ECE Club Office<br>SF B6400 (next to the ECE Common Room)</div>
          </div>
          <div class="content">
            <div class="title">When:</div><div class="data">Monday to Friday, 10am-5pm</div>
          </div>
        </div>

      </div>
    </section>
<script>
$('a[href*="#"]:not([href="#"])').click(function() {
  if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
      $('html, body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
</script>
</div>
